{% extends 'dashboard/base.twig' %}
{% block page %}
    <div class="bg-white p-4">
	<div class="container">
		<section>
        <h3>Ganti Passoword</h3>
            <button class="btn btn-warning form-control change_password">Klik Disini Untuk Mengganti Kata Sandi </button>
        </section>
        {{csrf()}}
	</div><!-- /.container -->
{% endblock %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
    <script src="{{ asset('bkol/js/change-password.min.js') }}"></script>
{% endblock %}
