<aside id="leftsidebar" class="sidebar">
    {% include 'dashboard/inc/menu-admin.twig' %}
    {# Menu BKK #}
    {# {% include 'dashboard/inc/menu-bkk.twig' %} #}
    {# Menu LPK #}
    {# {% include 'dashboard/inc/menu-lpk.twig' %} #}
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy;2019 <a href="javascript:void(0);">SILIMA</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.5
        </div>
    </div>
    <!-- #Footer -->
</aside>