{% extends "bkol/email/base.twig" %}

{% block content %}
	
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<p>Halo <b>{{nama_lengkap}}</b>:</p>
			<p>Akun anda Telah diaktifkan. Tolong login dengan username dan password ketika anda mendaftar</p>
			<br>
			<p><a href="http://bkol.cimahikota.go.id">bkol.cimahikota.go.id<a></p>
		</td>
	</tr>
</table>

{% endblock %}