{% extends "bkol/email/base.twig" %}

{% block content %}

<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<p>Dear Customer:</p>
			<p>You, or someone, try to reset your account password account {{ domainfrom }} </p>
			<p>If you feel not make such this request, you can ignore this email and your password remain not changed.</p>
			<p>If you do make the request, please click button below to proceed change password</p>
			<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
				<tbody>
					<tr>
						<td align="left">
							<table border="0" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td> <a href="{{ link }}" target="_blank">Reset Password</a> </td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<p>Or, copy and paste the one below into your browser:</p>
			<p>{{ link }}</p>
			<br>
			<p>Trendy Marketplace</p>
		</td>
	</tr>
</table>

{% endblock %}