{% extends "bkol/email/base.twig" %}

{% block content %}
	
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<p>Halo <b>{{nama_lengkap}}</b>:</p>
			<p>Akun anda Telah <b>Non Aktifkan</b>. Tolong Hubungi Kami Jika Ingin Aktif Kembali</p>
			<br>
			<p><a href="http://bkol.cimahikota.go.id">bkol.cimahikota.go.id<a></p>
		</td>
	</tr>
</table>

{% endblock %}