<form action="{{path_for('data-ak1-filter')}}" method="GET">
  <div class="form-row align-items-center">
    <div class="col-2">
      <div class="form-group">
          <label for="tahun">Tahun
          </label>
          <select name="tahun" id="tahun" class="form-control" required>
              <option value="">Pilih Tahun</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
          </select>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
          <label for="bulan">Bulan
          </label>
          <select name="bulan" id="bulan" class="form-control">
              <option value="">Pilih Bulan</option>
              <option value="01">Januari</option>
              <option value="02">Februari</option>
              <option value="03">Maret</option>
              <option value="04">April</option>
              <option value="05">Mei</option>
              <option value="06">Juni</option>
              <option value="07">Juli</option>
              <option value="08">Agustus</option>
              <option value="09">September</option>
              <option value="10">Oktober</option>
              <option value="11">November</option>
              <option value="12">Desember</option>
          </select>
      </div>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-12">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</form>
