<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Not-Found Offline</title>
</head>
<body>
    <div class="wrapper">
        <h1>Maaf halaman yang anda minta saat ini tidak tersedia dalam mode offline..</h1>
        <p>Silahkan online sehingga anda dapat melihatnya..</p>
    </div>
</body>
</html>