{% extends 'bkol/bkol-dashboard.twig' %}

{% block page %}

<div class="px-3">
  <div class="hr-theme d-flex  align-items-center">
    <div class="hr-title">
      <h3 class="title-section">Dashboard BKK</h3>
    </div>
    <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line.png')"></div>
  </div>
  <br>  
</div>
{% endblock %}
