{% extends 'dashboard/base.twig' %}

{% block title %}Buat Agenda Baru{% endblock %}

{% block stylesheets %}
{% include 'dashboard/css/formcss.twig' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="block-header">
    <h2>TAMBAH AGENDA KEGIATAN</h2>
</div>

{# FORM #}
{% include 'dashboard/agenda/form.twig' %}


{% endblock %}

{% block javascript %}

<!-- Select2 Dropdowns -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.1/tinymce.min.js" type="text/javascript"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{{ asset('dashboard/js/tinymce-init.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('dashboard/js/blog.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dateagenda').daterangepicker({
            startDate: '{% if requestParams.dateagenda %}{{ requestParams.dateagenda }}{% else %}{{ "now"|date("m/d/Y h:i A") }}{% endif %}',
            singleDatePicker: true,
            timePicker: true,
            timePickerIncrement: 1,
            locale: {
                format: 'MM/DD/YYYY h:mm A'
            }
        });
    });
</script>
{% endblock %}