.loginmodal-container {
  padding: 0px !important;
  input[type=text], input[type=password] {
    margin-bottom: 0px !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }

}

form#Login button.btn.btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px !important;
    text-transform: uppercase;
}

form#Login {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* login page styles*/
/* Change Autocomplete styles in Chrome*/
/* Change Autocomplete styles in Chrome*/


input:-webkit-autofill {
  // border: 1px solid rgba(255, 255, 255, 0.8);
  // -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  &:hover, &:focus textarea:-webkit-autofill {
    // border: 1px solid rgba(255, 255, 255, 0.8);
    // -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
  // border: 1px solid rgba(255, 255, 255, 0.8);
  // -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill {
  // border: 1px solid rgba(255, 255, 255, 0.8);
  // -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  &:hover, &:focus {
    // border: 1px solid rgba(255, 255, 255, 0.8);
    // -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

/* end login page styles*/
/*login page style*/

.left-bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  width: 768px;
  height: 334px;
}

.login-form {
  text-align: center;
  background: #333399 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0;
}

.input-group-addon {
  display: table-cell;
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  border-radius: 0;
  padding: .7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.login-form-control {
  &:focus, &:active {
    color: rgba(255, 255, 255, 0.9) !important;
  }
  border-radius: 0 !important;
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #fff;
  display: table-cell;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.login-form-group {
  position: relative;
  display: flex !important;
  border-collapse: separate;
}

.login-form {
  .form-control {
    background: #f7f7f7 none repeat scroll 0 0;

    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  text-align: center;
}

.forgot a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.login-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.forgot {
  text-align: left;
  margin-bottom: 30px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}

/* end login page style*/

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

#recaptcha {
  z-index: 99;
}
