.normal-table {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;

    .desc {
        font-size: 12px !important;
    }

    thead {
        background-color: #e5f6fc !important;

        tr {
            font-weight: bold !important;

            th {
                border: none !important;
            }
        }
    }

    tbody {
        tr {
            td {
                border-top: none;
                border-bottom: 1px solid #00a4de !important;
                font-size: 12px !important;
            }
        }
    }

    a {
        color: inherit !important;
        font-size: 14px !important;
    }
}