.pelatihan {
  .pelatihan-list {
    padding: 20px !important;
    border-bottom: 1px solid #3b3d93 !important;
    background: #f5f5f9;
    margin-bottom: 0px !important;

  }
  ul.nav-tabs {
    li.nav-item {
      a.nav-link {
        border-radius: none !important;
      }
    }
  }
}
