<footer class="footer py-5">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-6 footer_about">
          <div class="d-flex justify-content-start mb-3">
              <a href="/"><img src="/img/logo-disnaker.png" alt=""></a> 
          </div>
          <p>Dinas Tenaga Kerja Kota Cimahi merupakan suatu lembaga Dinas daerah di lingkungan Pemerintah Kota Cimahi yang mengemban tugas di bidang ketenagakerjaan</p>
        </div>
        <div class="col-sm-4 col-lg-3 col-md-6 footer_menu">
          <h6>Profile</h6>
          <ul>
            <li><a href="/page/read/sambutan-kepala-dinas">Sambutan Kepala Dinas</a></li>
            <li><a href="/page/read/kekuatan-personil">Kekuatan Personil</a></li>
            <li><a href="/page/read/rencana-dan-strategis">Rencana dan Strategis</a></li>
            <li><a href="/page/read/visi-disnaker">Visi Disnaker</a></li>
            <li><a href="/page/read/misi-disnaker">Misi Disnaker</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-lg-3 col-md-6 footer_menu">
        <h6>Bidang Kerja</h6>
          <ul>
            <li><a href="/page/read/pelatihan-produktivitas">Pelatihan & Produktivitas</a></li>
            <li><a href="/page/read/penempatan-transmigrasi">Penempatan & Transmigrasi</a></li>
            <li><a href="/page/read/hubungan-industrial-dan-jamsostek">Hubungan Industrial & Jamsostek</a></li>
            <li><a href="/page/read/bidang-pengawasan">Pengawasan</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-lg-2 col-md-6 footer_menu">
          <h6>Pelayanan</h6>
          <ul>
            <li><a href="/bursa-kerja-online">Lowongan Kerja</a></li>
            <li><a href="/disnaker-pelatihan">Pelatihan Kerja</a></li>
            <li><a href="">Pengaduan</a></li>
            <li><a href="">Standar Pelayanan</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 footer_bottom justify-content-md-between flex-md-column flex-sm-row">
        <ul class="footer_bottom_menu">
          <li><a style="font-size: 14px;font-weight: 100;" href="/faq">Faq</a></li>
          <li><a style="font-size: 14px;font-weight: 100;" href="/berita">Berita dan Kegiatan</a></li>
          <li><a style="font-size: 14px;font-weight: 100;" href="/agenda">Agenda</a></li>
          <li><a style="font-size: 14px;font-weight: 100;" href="/contact">Kontak</a></li>
          <li><a style="font-size: 14px;font-weight: 100;" href="/gallery">Gallery</a></li>
          <li><a style="font-size: 14px;font-weight: 100;" href="/produkhukum">Product Hukum</a></li>
        </ul>
        <p style="font-size: 14px;font-weight: 100;" class="float-right">&copy; {{ "now"|date("Y") }} {{ config['site-name'] }}</p>
      </div>
  </div>
</footer>