<table width="100%" class="table table-responsive table-bordered table-hover" id="users_pencarikerja">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
    </tbody>
</table>
